<h1>Inputs and Outputs</h1>

<app-item-detail [item] ="currentItem"></app-item-detail>

<app-item-detail-metadata [item] ="currentItem"[itemAvailability]="true"></app-item-detail-metadata>

<hr>

<app-item-output (newItemEvent) = "addItem($event)"></app-item-output>
<h3>Parent component receiving value via &#64;output()</h3>

<ul>
    <li *ngFor="let item of items">{{item}}</li>
</ul>

<hr>

<h2>Input and Output together</h2>
<p>Open the console to see the EventEmitter at work when you click Delete.</p>

<app-input-output [item] = "currentItem"
(deleteRequest) = "crossOffItem($event)">
</app-input-output>

<hr>

<h2>Input and Output in the component class metadata</h2>
<p>Open the console to see the EventEmitter at work when you click Buy.</p>

