.result {
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
  }
.result img{
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.result p{
    font-size: 50px;
    text-align: center;
    color: red;
    text-decoration: underline;
}
  @media (min-width: 500px) and (max-width: 768px) {
    .result p{
        color: green;
    }  
  }

  @media (max-width: 499px) {
  
  }
  
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  */